button{
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px; 
    transition: background-color 0.3s ease;
}

.center-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    min-height: calc(100vh - 80px); /* Adjust height to fit below header */
    width: 100%;
    gap: 2rem;
    margin-bottom: 0%;
}

.tool {
    text-align: center;
    padding: 20px;
    background: transparent;
    backdrop-filter: blur(20px);
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin-bottom: 0%;
}

button:hover{
    background-color: hsl(0, 0%, 70%);
}

.instructions h1{
    color: rgb(255, 255, 255);
    font-size: 210%;
    margin-left: 3%;
}

.instructions dt{
    color: rgb(230, 18, 18);
    font-size: 180%;
    margin-left: 5%;
}

.instructions dd{
    color: rgb(217, 57, 223);
    font-size: 160%;
    margin-left: 7%;
}

body{
    background:url(encryption.webp) no-repeat center center;
    background-size: cover;
}